<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-4">
      <div class="card mt-5">
        <div class="card-header text-center">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
        </div>
          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "off" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>

              <div class="field">
                 <%= f.label :avatar, "Avatar" %>
                 <%#= image_tag @user.avatar, width: '300px' if @user.avatar? %>
                 <%#= f.file_field :avatar %>
                 <%= f.filestack_field :avatar, 'Upload Your Avatar!',  pickerOptions: {accept: 'image/*'}, id: 'unique-id' %>
              </div>

              <div class="actions">
                <%= f.submit "Update" %>
              </div>
            <% end %>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Back", :back %>
         </div>
        <div class="card-footer text-muted">
       </div>
      </div>
     </div>
    </div>
   </div>
