<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-4">
      <div class="card mt-5">
        <div class="card-header text-center">
          <h2>Sign up</h2>
        </div>
          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :name %><br />
                <%= f.text_field :name %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :avatar, "Avatar" %>
                <%#= image_tag @user.avatar, width: '300px' if @user.avatar? %>
                <%#= f.file_field :avatar %>
                <%= f.filestack_field :avatar, 'Upload Your Avatar!',  pickerOptions: {accept: 'image/*'}, id: 'unique-id' %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        <div class="card-footer text-muted">
        </div>
      </div>
    </div>
  </div>
</div>
