// var html = '<%= j render partial: "shared/reply_comment", locals: {comment: @comment} %>';
//
//
// $('#comment-<%= @comment.id %> .comment-content-item').html(html);
// $('#comment-<%= @comment.id %> .comment-content-item').show();
// $('#comment-<%= @comment.id %> .comment-edit-form').hide();
// $('#comment-<%= @comment.id %> .edit-delete-group').show();
<% html = j( render :partial => 'form', :locals => { :object => @comment}) %>
var comment_name = $("#comment-edit-my_comment-<%= @comment.id %>").children();
$(comment_name[0]).html("<%= html %>");



<% html = j( render :partial => 'show_form', :locals => { :object => @comment}) %>
var comment_name = $("#comment-post_show-<%= @comment.id %>").children();
$(comment_name[1]).html("<%= html %>");
