<%= render partial: "shared/user_profile", locals: { user: @user } %>
<%= render partial: "shared/navtab_user", locals: { user: @user } %>
<div class="container">
  <div class="row">
    <table class="table table-hover bg-light">
      <tbody>
        <% @collected_posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, post_path(post) %></td>
            <td>
              <%= render partial: "shared/collect_button", locals: { post: post } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
