<%= render partial: "shared/user_profile", locals: { user: @user } %>
<%= render partial: "shared/navtab_user", locals: { user: @user } %>
<div class="container">
  <div class="row">
    <table class="table table-hover text-center bg-light">
      <tbody>
        <% @user.posts.each do |post| %>
          <% if !post %>
            <em>There is no draft.</em>
          <% elsif post.draft == true %>
            <% if current_user == post.user %>
              <tr>
                <td style = "text-align: start;" > <%= link_to post.title, post_path(post), style: "margin-left: 10px"  %> <%= render partial: "shared/post_authority", locals: {post: post} %></td>
                <td>
                  <%= post.draft ? 'Draft' : 'Published' %>
                </td>
                <td><%= post.updated_at.strftime("%Y-%m-%d") %></td>
                <td>
                  <%= render partial: "shared/edit_button", locals: { type: "Post", post: post } %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
