<%= render partial: "shared/user_profile", locals: { user: @user } %>
<%= render partial: "shared/navtab_user", locals: { user: @user } %>
<div class="container border bg-light">
  <h5 class="text-center">
    Waiting for friends response
  </h5>
  <div class="row" id="wait-friend">
    <% @unconfirm_friends.each do |user| %>
      <div class="col-sm-2" id="user-<%= user.id %>">
        <%= render partial: "shared/friend_profile", locals: { user: user } %>
      </div>
    <% end %>
  </div>
</div>
<div class="container border bg-white">
  <h5 class="text-center text-black">
    My Friend request
  </h5>
  <div class="row" id="unaccept-friend">
    <% @request_friends.each do |user| %>
      <div class="col-sm-2" id="user-<%= user.id %>">
        <%= render partial: "shared/friend_profile", locals: { user: user } %>
      </div>
    <% end %>
  </div>
</div>
<div class="container border bg-light">
  <h5 class="text-center">
    Friend list
  </h5>
  <div class="row" id="friend">
    <% @friends.each do |user| %>
      <div class="col-sm-2" id="user-<%= user.id %>">
        <%= render partial: "shared/friend_profile", locals: { user: user } %>
        <%= link_to friendship_path(user), method: :delete, data: { confirm: "Are you sure to delete the friend?"}, remote: true do %>
              <button class="btn btn-danger pull-right">Delete</button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
