<%= render partial: "shared/user_profile", locals: { user: @user } %>
<%= render partial: "shared/navtab_user", locals: { user: @user } %>
<div class="container">
  <div class="row">
    <table class="table table-hover table-borderless bg-light">
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <% if post.draft == false %>
              <% if current_user != @user && current_user.role != 'admin' %>
                <% if post.authority == 'friend' && !current_user.friend?(@user) %>
                <% elsif post.authority == 'myself' %>
                <% else %>
                  <tr>
                    <td style="text-align: start;"><%= link_to post.title, post_path(post), style: "margin-left: 10px" %> <%= render partial: "shared/post_authority", locals: {post: post} %></td>
                    <td >
                      <%= post.draft ? 'Draft' : 'Published' %>
                    </td>
                    <td ><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></td>
                    <td>
                      <%= render partial: "shared/edit_button", locals: { type: "Post", post: post } %>
                    </td>
                  </tr>
                <% end%>
              <% elsif current_user.role == 'admin' && current_user != @user %>
                <% if post.authority == 'myself' %>
                <% else %>
                  <tr>
                    <td style="text-align: start;"><%= link_to post.title, post_path(post), style: "margin-left: 10px" %> <%= render partial: "shared/post_authority", locals: {post: post} %></td>
                    <td>
                      <%= post.draft ? 'Draft' : 'Published' %>
                    </td>
                    <td><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></td>
                    <td>
                      <%= render partial: "shared/edit_button", locals: { type: "Post", post: post } %>
                    </td>
                  </tr>
                <% end%>
              <% else %>
                <tr>
                  <td style="text-align: start;"><%= link_to post.title, post_path(post), style: "margin-left: 10px" %> <%= render partial: "shared/post_authority", locals: {post: post} %></td>
                  <td>
                    <%= post.draft ? 'Draft' : 'Published' %>
                  </td>
                  <td><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></td>
                  <td>
                    <%= render partial: "shared/edit_button", locals: { type: "Post", post: post } %>
                  </td>
              <% end %>
              </tr>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @user == current_user %>
      <%= link_to "New Post", new_post_path, class: "btn btn-info" %>
    <% end %>
  </div>
</div>
