<div class="user-item text-center mt-3 mb-3">
  <%= link_to user_path(user), class: "nav-link" do %>
    <div class="avatar">
      <%#= image_tag user.avatar, width: "100%" if user.avatar? %>
      <%= filestack_image user.avatar, transform: filestack_transform.resize(width: 250, height: 250) %>
    </div>
    <p><strong><%= user.name %></strong></p>
  <% end %>

  <div class="links" id="user-<%= user.id %>">
    <%= render partial: "shared/friend_button", locals: { user: user } %>
  </div>
</div>
