<!-- <td><%#= comment.content %></td>
<td>
    <%# if comment.user == current_user %>
    <%#= link_to edit_post_comment_path(comment.post, comment, site: "my_comments"), remote: true do%>
      <button class="btn btn-danger btn-sm glyphicon glyphicon-pencil"></button>
      <%# end %>
     <%#= link_to post_comment_path(comment.post, comment), method: :delete, data: { confirm: "Are you sure?"}, remote: true do%>
      <button class="btn btn-info btn-sm glyphicon glyphicon-trash"></button>
      <%# end %>
      <%# end %>
</td> -->
