<% if type == "Post" %>
  <div class="col-sm-3 border">
    <%= render partial: "shared/friend_profile", locals: { user: post.user } %>
  </div>
  <div class="col-sm-9 border">
    <div class="image mt-3">
      <%#= image_tag post.image, width: "500px" if post.image? %>
      <%= filestack_image post.image, transform: filestack_transform.resize(width: 400, height: 400) %>
    </div>
    <%= render partial: "shared/content_item", locals: { type: type, post: post, content: post.content } %>
  </div>
<% else %>
  <div class="col-sm-3 border">
    <%= render partial: "shared/friend_profile", locals: { user: comment.user } %>
  </div>
  <div class="col-sm-9 border d-flex align-items-center">
  <%= render partial: "shared/content_item", locals: { type: type, post: post, comment: comment, content: comment.content } %>
  </div>
<% end %>
