<% case post.authority %>
  <% when 'all'%>
    &nbsp;&nbsp;<i class="fa fa-globe post-authority"></i>
  <% when 'friend' %>
    &nbsp;&nbsp;<i class="fa fa-user-circle-o post-authority"></i>
  <% when 'myself' %>
    &nbsp;&nbsp;<i class="fa fa-lock post-authority"></i>
<% end %>
