<h1>Article Forum</h1>
  <div class="container">
    <div class="row">
      <ul class="nav nav-pills nav-pills-center">
        <% if @category %>
          <%= link_to "All", posts_path, class: "nav-link" %>
        <% else %>
          <%= link_to "All", posts_path, class: "nav-link active" %>
        <% end %>
        <% @categories.each do |category| %>
          <% if @category && category.id == @category.id %>
            <%= link_to category.name, posts_path(category_id: category.id), class: "nav-link active" %>
          <% else %>
            <%= link_to category.name, posts_path(category_id: category.id), class: "nav-link" %>
          <% end %>
        <% end %>
      </ul>
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th><%= sort_link(@ransack, :comments_count, "Comments count", default_order: :desc) %></th>
            <th class="text-center">Title</th>
            <th><%= sort_link(@ransack, :last_commented_at, "Last commented at", default_order: :desc) %></th>
            <th ><%= sort_link(@ransack, :viewed_count, "Viewed count", default_order: :desc) %></th>
            <th class="text-left">Author</th>
          </tr>
        </thead>
         <tbody>
            <% @posts.each do |post| %>
            <tr>
              <td scope="row" ><%= post.comments.count %></td>
              <td class="text-left"><%=  link_to post.title, post_path(post)%> <%= render partial: "shared/post_authority", locals: {post: post} %> </td>
              <td><%= post.last_commented_at.strftime("%Y-%m-%d") if post.comments.present? %></td>
              <!-- <td>
              <%# if post.comments.present? %>
                <%#= post.comments.first.created_at.strftime("%Y-%m-%d %H:%M") %>
              <%# end %>
             </td> -->
              <td ><%= fa_icon "eye", text: post.viewed_count  %></td>
              <td class="text-left"><%=  link_to post.user.name, post.user%> </td>
            </tr>
            <% end %>
          </tbody>
        </table>
       <%= paginate @posts %>
     </div>
   </div>
