<div class="container">
  <div class="row border-bottom bg-light pt-5">
    <div class="col-sm-3">
      <h3>
        <strong><%= @post.title %></strong>
      </h3>
    </div>
    <div class="col-sm-3 offset-sm-6">
      <%= render partial: "shared/collect_button", locals: { post: @post } %>
      <%= link_to "Comment", "#comments" ,class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <div class="row">

   <div class="col-sm-3 border">
     <%= render partial: "shared/friend_profile", locals: { user: @post.user } %>
   </div>
   <div class="col-sm-9 border">
     <div class="image mt-3">
       <%#= image_tag @post.image, width: "500px" if @post.image? %>
       <%= filestack_image @post.image, transform: filestack_transform.resize(width: 400, height: 400) %>
     </div>

     <div class="content-item w-100">
       <p><%= @post.content %></p>
       <hr>
       <h5><b> Categories: <% @post.categories.each do |category| %>
         <%= category.name%>
         <% end %>
       </b></h5>
       <div class="edit-delete-group pull-right">
        <% if @user == current_user %>
          <%= link_to edit_post_path(@post) do %>
            <button class="btn btn-primary btn-sm glyphicon glyphicon-pencil"></button>
          <% end %>
        <% end %>
        <% if @user == current_user or current_user.role == 'admin'  %>
          <%= link_to post_path(@post), method: :delete, data: {confirm: "Are you sure to delete this post?"} do %>
            <button class="btn btn-danger btn-sm glyphicon glyphicon-trash"></button>
          <% end %>
        <% end %>
       </div>

     </div>
   </div>
 </div>

 <div class="row bg-light">
     <% @post.comments.each do |comment| %>
       <%= render partial: "shared/post_item", locals: { type: "Comment", post: @post, comment: comment } %>
     <% end %>
     <div class="mx-auto mt-3">
       <%= paginate @comments %>
     </div>
   </div>

   <div class="row" id="comments">
     <div class="col-sm-12 border">
       <%= form_for [@post, @comment] do |f| %>
         <div class="form-group">
           <%= f.text_area :content, placeholder: "Leave your comment here！", class: "form-control mt-4 bg-light" %>
         </div>
         <div class="form-group">
           <%= f.submit class: "btn btn-primary btn-sm" %>
           <%= f.button "Cancel", type: :reset, class: "btn btn-danger btn-sm" %>
         </div>
       <% end %>
     </div>
   </div>
 </div>
