.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

textarea#post_content, textarea#comment_content, textarea#user_intro {
  height: 20em;
}

div#unaccept-friend, div#friend, div#wait-friend {
  min-height: 180px;
}

#site-title {
  margin-left: 60px;
}

.borderless td, .borderless th {
  border: none;
}

body {
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #C9EBF2;
  font-family: 'Montserrat', sans-serif;
}

// .col-sm-3, .mx-auto mt-3, .col-sm-3 offset-sm-6, .col-sm-3 border, .row bg-light {
//   background-color: #C9EBF2;
// }
